<div #dropdownElement class="ui selection dropdown" [class.disabled]="disabled" [class.fluid]="fluid">
  <input type="hidden" [ngModel]="value" (change)="onHiddenValueFieldChange($event)">
  <i class="dropdown icon"></i>
  <div class="text"></div>
  <div class="menu">
    <ng-container *ngIf="DefaultText">
      <div class="item" data-value>{{DefaultText}}</div>
    </ng-container>
    <div class="item" *ngFor="let option of options" attr.data-value="{{GetDataValue(option)}}" [textContent]="GetDataText(option)"></div>
  </div>
</div>
